body {
  background: #fafafa; font-family: arial, verdana, sans-serif; font-size:12px; font-weight:normal;
}

h1, h2, h3, h4, h5, h6 {
}

h1 {
  font-size: 22px; color:#595959;
}

h2 {
  font-size: 18px; color:#595959;
}

h3 {
  font-size: 16px; color:#595959;
}

h4 {
  font-size: 14px; color:#595959;
}

h5 {
  font-size: 12px; color:#595959;
}

h6 {
  font-size: 10px; color:#595959;
}

ul,ol li{
  font-size: 12px; color:#636363; line-height:20px;
}

a {
  color: #ff6600; text-decoration: none;
}

a:hover {
  color: #ffcc00; text-decoration: none;
}


table {
  padding: 0;
  margin: 0;
}

caption {
  padding: 0 0 5px 0;
  text-align: right;
}

th {
  font: bold 12px arial, verdana, sans-serif;
  color: #4f6b72;
  border-right: 1px solid #c1dad7;
  border-bottom: 1px solid #c1dad7;
  border-top: 1px solid #c1dad7;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: left;
  padding: 6px 6px 6px 12px;
  background: #cae8ea;
}

td {
  border-right: 1px solid #c1dad7;
  border-bottom: 1px solid #c1dad7;
  background: #fff;
  padding: 6px 12px 6px 12px;
  color: #4f6b72;
}
